.card:hover {
  cursor: pointer;
}

.add-workspace .card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--light-grey);
  transition: background-color 0.15s;
  font-weight: 500;
}

.add-workspace .card:hover {
  background: #dfe2e6;
}
