.notes-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notes-header .create-button button {
  margin-left: 10px;
}

.notes-header .offcanvas-button {
  margin-right: 10px;
}

.notes-header .body {
  flex: 1;
}

.notes-header .body h4 {
  margin-bottom: 0;
}
