.search-input-form {
  display: flex;
}

.search-input-form .search-input {
  margin-right: 6px;
  background: var(--light-grey);
  border: 2px solid transparent;
  transition: 0.3s;
}

.search-input-form .search-input:focus,
.search-input:hover {
  outline: none !important;
  box-shadow: none;
  background: #ffffff;
  border: 2px solid #0d6efd;
}
